[submodule "epics-base"]
	path = epics-base
	url = https://github.com/epics-base/epics-base.git
	branch = 3.16
[submodule "epics-modules/iocStats"]
	path = epics-modules/iocStats
	url = https://github.com/epics-modules/iocStats.git
[submodule "epics-modules/asyn"]
	path = epics-modules/asyn
	url = https://github.com/epics-modules/asyn.git
[submodule "epics-modules/modbus"]
	path = epics-modules/modbus
	url = https://github.com/epics-modules/modbus
[submodule "epics-modules/stream"]
	path = epics-modules/stream
	url = https://github.com/epics-modules/stream
[submodule "epics-modules/devlib2"]
	path = epics-modules/devlib2
	url = https://github.com/epics-modules/devlib2
[submodule "epics-modules/autosave"]
	path = epics-modules/autosave
	url = https://github.com/epics-modules/autosave
[submodule "epics-modules/motor"]
	path = epics-modules/motor
	url = https://github.com/epics-modules/motor
