[submodule "epics-base"]
	path = epics-base
	url = https://github.com/epics-base/epics-base.git
	ignore = dirty
[submodule "epics-modules/iocStats"]
	path = epics-modules/iocStats
	url = https://github.com/epics-modules/iocStats.git
	ignore = dirty
[submodule "epics-modules/asyn"]
	path = epics-modules/asyn
	url = https://github.com/epics-modules/asyn
	ignore = dirty
[submodule "epics-modules/modbus"]
	path = epics-modules/modbus
	url = https://github.com/epics-modules/modbus
	ignore = dirty
[submodule "epics-modules/stream"]
	path = epics-modules/stream
	url = https://github.com/epics-modules/stream
	ignore = dirty
[submodule "epics-modules/devlib2"]
	path = epics-modules/devlib2
	url = https://github.com/epics-modules/devlib2
	ignore = dirty
[submodule "epics-modules/autosave"]
	path = epics-modules/autosave
	url = https://github.com/epics-modules/autosave
	ignore = dirty
[submodule "epics-modules/motor"]
	path = epics-modules/motor
	url = https://github.com/epics-modules/motor
	ignore = dirty
[submodule "epics-modules/sscan"]
	path = epics-modules/sscan
	url = https://github.com/epics-modules/sscan
	ignore = dirty
[submodule "epics-modules/busy"]
	path = epics-modules/busy
	url = https://github.com/epics-modules/busy
	ignore = dirty
[submodule "epics-modules/mrfioc2"]
	path = epics-modules/mrfioc2
	url = https://github.com/epics-modules/mrfioc2
	ignore = dirty
